*.lss
*.map
*.srec
*.d
*.o
*.mk
*.exp
*.idb
*.suo
*.obj
*.tlog
*.pdb
*.iobj
*.recipe
*.v5
*.v2
*.vst3
*.DotSettings.user
*.command
*.FileListAbsolute.txt
*.dtbcache.v2
*.deps.json
resources.res
*.raw
**/_ReSharper.Caches*
*.db
*.opendb
*.ipch
*.lock
*.ide
*.net
*.gto
*.gtp
*.bak
*.dll
*.exe
*.vcxproj.filters
*.vcxproj.user
*.log
*.gts
*.g2
*.gbr
*.g3
*.gbl
*.gm1
*.gbs
*.gbo
*.gtl
*.drl
*.metagen
*.g.i.cs
*.i.lref
*.CopyComplete
obj
*.md
Debug
*.idea
*.fft
*.vsidx
*.suo
*.db-shm
*.db-wal
fileList.bin
*.a
*.bin
*.lib
